#app {
    height: 100vh;
    display: grid;
    grid-template-columns: 25% auto 25%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        'header header header'
        'nav main section'
        'footer footer footer';
}

#app > header {
    grid-area: header;
}

#app > nav {
    grid-area: nav;
}

#app > main {
    grid-area: main;
    overflow: auto;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

main::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
}

#app > section {
    grid-area: section;
}

#app > footer {
    grid-area: footer;
    background-color: black;
    color: white;
    text-align: center;
}
